@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Space+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  cursor: pointer;
}
li {
  cursor: pointer;
}

:root {
  /* font-size */
  --large-font-size: 1.5rem;
  --medium-font-size: 1.2rem;
  --small-font-size: 1rem;

  /* colors */
  --navbar-background-color: #ffff;
  --main-background-color: #f6f7f8;
  --button-color: #0071cc;
  --button-hover-color: #0070cce8;
  --info-icon-color: #546d89;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*navbar*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links li {
  display: inline-block;
  padding: 20px 20px;
}
.nav-links li:hover {
  color: var(--button-color);
}

/* main */
.main {
  border: 1px solid #fff;
  background-color: var(--main-background-color);
}

/* information */

.information i {
  padding: 20px;
  color: var(--info-icon-color);
  font-size: 2.5em;
}

/* footer */

.footer {
  background-color: var(--main-background-color);
}

.subscribe-btn span {
  background-color: var(--info-icon-color);
  color: #fff;
}

.footer-socials i {
  color: #9b9999;
  cursor: pointer;
}

.footer-facebook:hover {
  color: #3b5998;
}
.footer-twitter:hover {
  color: #1da1f2;
}
.footer-google:hover {
  color: #db4437;
}
.footer-linkedin:hover {
  color: #0077b5;
}
.footer-youtube:hover {
  color: #ff0000;
}
.footer-instagram:hover {
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.links li {
  padding: 20px 15px;
}

.links li a {
  display: block;
}

.links ul li:hover {
  color: var(--button-color);
}
.footer-sub a {
  color: var(--button-color);
}

/* login */
.login-header {
  font-size: 1.4em;
}

.login-header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.login-header .active {
  border-bottom: 2px solid var(--button-color);
}

form {
  display: grid;
}

form .btn,
header .btn {
  background-color: var(--button-color);
  color: #fff;
}

form .btn:hover,
header .btn:hover {
  background-color: var(--button-hover-color);
  color: #fff;
}

.login {
  background-color: #fff;
  display: grid;
  padding: 3em;
  margin: 4em auto;
}

.login-subheader {
  font-size: 20px;
}
.checkbox {
  display: flex;
  justify-content: space-between;
}
.checkbox label a {
  color: var(--button-color);
  text-decoration: none;
}

.socials-icon i {
  margin: 5px;
  font-size: 2.5em;
}
.facebook {
  background-color: #3b5998;
  color: #fff;
  border-radius: 50%;
}
.twitter {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 50%;
  padding: 0.5px;
}
.google {
  background-color: #db4437;
  color: #fff;
  border-radius: 50%;
}
.linkedin {
  background-color: #0077b5;
  color: #fff;
  border-radius: 50%;
}
.signup {
  text-decoration: none;
}
